:root {
    --lg-fonts: 'Kaisei Tokumin', serif;
    --sm-fonts: 'Poppins', sans-serif;
    --pink: #e5345b;
    --fonts1: 'Dancing Script', cursive;
    --fotns2: 'Kaisei Tokumin', serif;
    --fonts3: 'Satisfy', cursive;
}
